Repository TeamDon-tBe/ANDROID, pull requests merged in 2024-05, with the labels that each got.

#250 [Feature/#247] : 2차 스프린트 기능 구현
  core-ui/src/main/java/com/teamdontbe/core_ui/view/NoUnderlineTextView.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/api/NotificationApiService.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseNotificationListDto.kt
  domain/src/main/java/com/teamdontbe/domain/entity/NotiEntity.kt
  feature/build.gradle.kts
  feature/src/main/java/com/teamdontbe/feature/SplashActivity.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/CommentBottomSheet.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
  feature/src/main/java/com/teamdontbe/feature/notification/NotificationFragment.kt
  feature/src/main/java/com/teamdontbe/feature/notification/adapter/NotificationPagingAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/notification/adapter/NotificationViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingFragment.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/res/drawable/ic_link.xml
  feature/src/main/res/drawable/shape_4_rect.xml
  feature/src/main/res/layout/bottomsheet_comment.xml
  feature/src/main/res/layout/fragment_posting.xml
  feature/src/main/res/layout/item_home_comment.xml
  feature/src/main/res/layout/item_home_feed.xml
  feature/src/main/res/layout/item_my_page_comment.xml
  feature/src/main/res/layout/item_notification_feed.xml
  feature/src/main/res/layout/view_upload_bar.xml
  feature/src/main/res/values/colors.xml
  feature/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 🐱 소현

#252 [Feature/#251] : 2차 스프린트 QA 반영
  feature/src/main/res/drawable/shape_blue_10_cursor.xml
  feature/src/main/res/layout/bottomsheet_comment.xml
  feature/src/main/res/layout/fragment_posting.xml
Labels: ✅ [MOD], 🐱 소현

#257 [Feature/#256] posting UI fix
  feature/src/main/res/drawable/ic_text_cursor.xml
  feature/src/main/res/values/strings.xml
  feature/src/main/res/values/themes.xml
Labels: 💟 [UI], 🐰 언지

#258 [Feature/#255] : 3차 스프린트 투명도 & 게시 프로그래스 바 변경
  feature/src/main/java/com/teamdontbe/feature/homedetail/CommentBottomSheet.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/java/com/teamdontbe/feature/util/Transparent.kt
  feature/src/main/res/drawable/ic_home_ghost_fill_green.xml
  feature/src/main/res/drawable/shape_error_line_circle.xml
  feature/src/main/res/layout/bottomsheet_comment.xml
  feature/src/main/res/layout/fragment_posting.xml
  feature/src/main/res/layout/fragment_transparent_dialog.xml
  feature/src/main/res/layout/item_home_comment.xml
  feature/src/main/res/layout/item_home_feed.xml
  feature/src/main/res/layout/view_upload_bar.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🐱 소현

#260 [Feature/#259] 이미지 조회
  data-remote/src/main/java/com/teamdontbe/data_remote/api/HomeApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/api/MyPageApiService.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseCommentDto.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseFeedDto.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseMyPageCommentDto.kt
  domain/src/main/java/com/teamdontbe/domain/entity/CommentEntity.kt
  domain/src/main/java/com/teamdontbe/domain/entity/FeedEntity.kt
  feature/src/main/java/com/teamdontbe/feature/home/Feed.kt
  feature/src/main/java/com/teamdontbe/feature/util/BindingAdapter.kt
  feature/src/main/res/layout/item_home_comment.xml
  feature/src/main/res/layout/item_home_feed.xml
  feature/src/main/res/layout/item_my_page_comment.xml
  feature/src/main/res/values/themes.xml
Labels: ⭐ [FEAT], 💟 [UI]

#263 [Feature/#262] : 3차 스프린트 link 관련 QA
  feature/src/main/java/com/teamdontbe/feature/homedetail/CommentBottomSheet.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/res/drawable/shape_blue_10_cursor.xml
  feature/src/main/res/layout/bottomsheet_comment.xml
  feature/src/main/res/layout/fragment_posting.xml
Labels: 🔨 [FIX], 🐱 소현

#266 [#265/FIX] : ispushalarmaloowed 추가
  data/src/main/java/com/teamdontbe/data/dto/request/RequestProfileEditDto.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseLoginDto.kt
  domain/src/main/java/com/teamdontbe/domain/entity/LoginEntity.kt
Labels: 🔨 [FIX], 🐱 소현

#267 [Feature/#261] 사진 업로드 - 3차 스프린트
  core-ui/src/main/java/com/teamdontbe/core_ui/util/context/ContextExt.kt
  data-local/src/main/java/com/teamdontbe/data_local/di/ContentResolverModule.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/api/HomeApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/api/PostingApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/HomeDataSourceImpl.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/PostingDataSourceImpl.kt
  data/build.gradle.kts
  data/src/main/java/com/teamdontbe/data/datasource/HomeDataSource.kt
  data/src/main/java/com/teamdontbe/data/datasource/PostingDataSource.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/HomeRepositoryImpl.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/PostingRepositoryImpl.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/utils/ContentUriRequestBody.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/utils/extractErrorMessage.kt
  domain/src/main/java/com/teamdontbe/domain/repository/HomeRepository.kt
  domain/src/main/java/com/teamdontbe/domain/repository/PostingRepository.kt
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeFeedAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomePagingFeedAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/home/viewholder/HomeFeedViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/CommentBottomSheet.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/imagedetail/ImageDialogFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileActivity.kt
  feature/src/main/java/com/teamdontbe/feature/snackbar/LinkCountErrorSnackBar.kt
  feature/src/main/res/drawable/ic_image.xml
  feature/src/main/res/layout/bottomsheet_comment.xml
  feature/src/main/res/layout/fragment_image_detail.xml
  feature/src/main/res/layout/fragment_posting.xml
  feature/src/main/res/layout/view_upload_bar.xml
  feature/src/main/res/navigation/nav_main.xml
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 💟 [UI], 🐻 찬우

#269 [Feature/#268] : 스낵바 로딩 중일 때, 버전 코드 변경
  build-logic/src/main/java/com/teamdontbe/dontbe/plugin/CommonConfigs.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/res/layout/item_home_comment.xml
  feature/src/main/res/layout/item_home_feed.xml
  feature/src/main/res/layout/item_my_page_comment.xml
  gradle/libs.versions.toml
Labels: ✅ [MOD], 🛠️ [CHORE], 🐱 소현
