Repository TeamDon-tBe/ANDROID, pull requests merged in 2024-01, with the labels that each got.

#11 [Setting/#10] : font setting
  feature/src/main/res/font/font_pretendard_regular.xml
  feature/src/main/res/font/font_pretendard_semibold.xml
  feature/src/main/res/font/pretendard_regular.ttf
  feature/src/main/res/font/pretendard_semibold.ttf
  feature/src/main/res/values/textappearances.xml
Labels: 🐰 언지, ⚙️ [SETTING]

#20 [FIX#19] : 바텀내비게이션 클릭시 badge 초기화 안되는 오류 해결
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
Labels: 🔨 [FIX]

#18 [DOCS] Update README.md
  README.md
Labels: 📃 [DOCS], 🐻 찬우

#14 [Feature/#12] splash screen 구현
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamdontbe/feature/SplashActivity.kt
  feature/src/main/java/com/teamdontbe/feature/login/LoginActivity.kt
  feature/src/main/res/drawable/ic_splash_symbol.xml
  feature/src/main/res/drawable/ic_splash_symbol_background.xml
  feature/src/main/res/layout/activity_login.xml
  feature/src/main/res/values-v31/themes.xml
  feature/src/main/res/values/themes.xml
Labels: ⭐ [FEAT], 🐰 언지

#21 [Feature/#16] color setting
  feature/src/main/res/layout/activity_main.xml
  feature/src/main/res/values/colors.xml
  feature/src/main/res/values/themes.xml
Labels: ⚙️ [SETTING], 🐻 찬우

#26 [Setting/#15] : 추가 setting
  app/build.gradle.kts
  app/proguard-rules.pro
  app/src/androidTest/java/com/teamdontbe/dontbe/ExampleInstrumentedTest.kt
  app/src/test/java/com/teamdontbe/dontbe/ExampleUnitTest.kt
  build-logic/settings.gradle.kts
  build-logic/src/main/java/com/teamdontbe/dontbe/plugin/AndroidHiltPlugin.kt
  build-logic/src/main/java/com/teamdontbe/dontbe/plugin/CommonConfigs.kt
  build.gradle.kts
  core-ui/build.gradle.kts
  core-ui/consumer-rules.pro
  core-ui/proguard-rules.pro
  core-ui/src/androidTest/java/com/teamdontbe/core_ui/ExampleInstrumentedTest.kt
  core-ui/src/main/java/com/teamdontbe/core_ui/base/BindingActivity.kt
  core-ui/src/test/java/com/teamdontbe/core_ui/ExampleUnitTest.kt
  data-local/build.gradle.kts
  data-local/consumer-rules.pro
  data-local/proguard-rules.pro
  data-local/src/androidTest/java/com/teamdontbe/data_local/ExampleInstrumentedTest.kt
  data-local/src/test/java/com/teamdontbe/data_local/ExampleUnitTest.kt
  data-remote/build.gradle.kts
  data-remote/consumer-rules.pro
  data-remote/proguard-rules.pro
  data-remote/src/androidTest/java/com/teamdontbe/data_remote/ExampleInstrumentedTest.kt
  data-remote/src/test/java/com/teamdontbe/data_remote/ExampleUnitTest.kt
  data/build.gradle.kts
  data/consumer-rules.pro
  data/proguard-rules.pro
  data/src/androidTest/java/com/teamdontbe/data/ExampleInstrumentedTest.kt
  data/src/test/java/com/teamdontbe/data/ExampleUnitTest.kt
  feature/build.gradle.kts
  feature/consumer-rules.pro
  feature/proguard-rules.pro
  feature/src/androidTest/java/com/teamdontbe/feature/ExampleInstrumentedTest.kt
  feature/src/main/res/values/themes.xml
  feature/src/test/java/com/teamdontbe/feature/ExampleUnitTest.kt
  settings.gradle.kts
Labels: 🐱 소현, ⚙️ [SETTING]

#25 [Refactor/#24] splash screen 변경
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamdontbe/feature/SplashActivity.kt
  feature/src/main/res/drawable/ic_splash_logo.xml
  feature/src/main/res/drawable/ic_splash_symbol.xml
  feature/src/main/res/drawable/ic_splash_symbol_background.xml
  feature/src/main/res/layout/activity_splash.xml
  feature/src/main/res/values-v31/themes.xml
  feature/src/main/res/values/themes.xml
Labels: 🐰 언지,  ♻️ [REFACTOR]

#23 [Feature/#17] kakao login 구현
  app/src/main/java/com/teamdontbe/dontbe/DontBeApp.kt
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
  feature/src/main/java/com/teamdontbe/feature/login/LoginActivity.kt
  feature/src/main/res/drawable/ic_login_kakao.xml
  feature/src/main/res/drawable/ic_login_symbol.xml
  feature/src/main/res/drawable/ic_splash_symbol.xml
  feature/src/main/res/drawable/ic_splash_symbol_background.xml
  feature/src/main/res/layout/activity_login.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🐰 언지

#33 [Feature/#29] appbar 구현
  feature/src/main/java/com/teamdontbe/feature/notification/NotificationFragment.kt
  feature/src/main/res/layout/fragment_notification.xml
  feature/src/main/res/layout/fragment_posting.xml
  feature/src/main/res/layout/view_appbar.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🐰 언지

#30 [Feature/#22] 홈화면 피드 게시글 아이템 구현
  core-ui/src/main/java/com/teamdontbe/core_ui/util/context/ContextExt.kt
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/adapter/MyPageFeedAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/adapter/MyPageFeedItemDecorator.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/adapter/MyPageFeedViewHolder.kt
  feature/src/main/res/drawable/ic_home_comment_default_gray_40_with_padding.xml
  feature/src/main/res/drawable/ic_home_ghost_fill_green.xml
  feature/src/main/res/drawable/ic_home_heart_default_gray_40_with_padding.xml
  feature/src/main/res/drawable/ic_home_kebab_gray_44_with_padding.xml
  feature/src/main/res/drawable/ripple_home_kebab_gray_44.xml
  feature/src/main/res/drawable/shape_white_fill_radius8_rect.xml
  feature/src/main/res/layout/fragment_my_page.xml
  feature/src/main/res/layout/item_home_feed.xml
  feature/src/main/res/values/colors.xml
  feature/src/main/res/values/themes.xml
Labels: ⭐ [FEAT], 💟 [UI], 🐻 찬우

#35 [Feature/#27] onboarding UI
  core-ui/src/main/java/com/teamdontbe/core_ui/base/BindingActivity.kt
  core-ui/src/main/java/com/teamdontbe/core_ui/view/TextColorGradient.kt
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingFirstItemFragment.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingFourthFragment.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingFragment.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingSecondItemFragment.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingThirdFragment.kt
  feature/src/main/res/drawable-xhdpi/img_onboarding_first.png
  feature/src/main/res/drawable-xhdpi/img_onboarding_third.png
  feature/src/main/res/drawable-xxhdpi/img_onboarding_first.png
  feature/src/main/res/drawable-xxhdpi/img_onboarding_third.png
  feature/src/main/res/drawable/ic_back.xml
  feature/src/main/res/drawable/ic_onboarding_second.xml
  feature/src/main/res/drawable/img_onboarding_first.png
  feature/src/main/res/drawable/img_onboarding_third.png
  feature/src/main/res/drawable/sel_onboarding_indicator.xml
  feature/src/main/res/drawable/shape_gray03_fill_ring.xml
  feature/src/main/res/drawable/shape_gray03_line_6_rect.xml
  feature/src/main/res/drawable/shape_gray09_fill_ring.xml
  feature/src/main/res/layout/fragment_onboarding.xml
  feature/src/main/res/layout/item_onboarding_first.xml
  feature/src/main/res/layout/item_onboarding_fourth.xml
  feature/src/main/res/layout/item_onboarding_second.xml
  feature/src/main/res/layout/item_onboarding_third.xml
  feature/src/main/res/navigation/nav_main.xml
  feature/src/main/res/values-night/themes.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💟 [UI], 🐱 소현

#39 [Feature/#31] bottom navi icon
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
  feature/src/main/res/color/sel_main_color_bnv_menu.xml
  feature/src/main/res/drawable/ic_bnv_home_glass_24.png
  feature/src/main/res/drawable/ic_bnv_home_gray_20.xml
  feature/src/main/res/drawable/ic_bnv_home_gray_24.xml
  feature/src/main/res/drawable/ic_bnv_my_glass_24.png
  feature/src/main/res/drawable/ic_bnv_my_gray_24.xml
  feature/src/main/res/drawable/ic_bnv_my_page_gray_20.xml
  feature/src/main/res/drawable/ic_bnv_noti_glass_24.png
  feature/src/main/res/drawable/ic_bnv_noti_gray_24.xml
  feature/src/main/res/drawable/ic_bnv_notification_gray_20.xml
  feature/src/main/res/drawable/ic_bnv_posting_glass_24.png
  feature/src/main/res/drawable/ic_bnv_posting_gray_20.xml
  feature/src/main/res/drawable/ic_bnv_posting_gray_24.xml
  feature/src/main/res/drawable/sel_home_drawable_bnv_selected_item.xml
  feature/src/main/res/drawable/sel_my_drawable_bnv_selected_item.xml
  feature/src/main/res/drawable/sel_noti_drawable_bnv_selected_item.xml
  feature/src/main/res/drawable/sel_posting_drawable_bnv_selected_item.xml
  feature/src/main/res/layout/activity_main.xml
  feature/src/main/res/menu/menu_main_nav.xml
  feature/src/main/res/values/colors.xml
  feature/src/main/res/values/strings.xml
Labels: 💟 [UI], 🐻 찬우

#41 [Feature/#34] 게시글 작성하기 UI 구현
  core-ui/src/main/java/com/teamdontbe/core_ui/base/BindingActivity.kt
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/java/com/teamdontbe/feature/util/Debouncer.kt
  feature/src/main/res/drawable/ic_posting_uploading_activate.xml
  feature/src/main/res/drawable/ic_posting_uploading_deactivate.xml
  feature/src/main/res/drawable/img_posting_profile.png
  feature/src/main/res/layout/fragment_posting.xml
  feature/src/main/res/layout/view_appbar.xml
  feature/src/main/res/navigation/nav_main.xml
  feature/src/main/res/values/strings.xml
Labels: 💟 [UI], 🐰 언지

#45 [Feature/#42] 게시글 작성하기 progressbar 구현
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/res/drawable/shape_error_line_10_ring.xml
  feature/src/main/res/drawable/shape_gray_03_line_10_ring.xml
  feature/src/main/res/drawable/shape_primary_line_10_ring.xml
  feature/src/main/res/layout/fragment_posting.xml
Labels: 💟 [UI], 🐰 언지

#46 [Feature/#40] 약관동의 화면
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamdontbe/feature/example/ExampleViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/login/SignUpAgreeActivity.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/res/drawable/ic_sign_up_back_42.xml
  feature/src/main/res/drawable/ic_sign_up_checkbox_checked_32.xml
  feature/src/main/res/drawable/ic_sign_up_checkbox_unchecked_32.xml
  feature/src/main/res/drawable/ic_sign_up_next_gray_24.xml
  feature/src/main/res/drawable/sel_sign_up_agree_btn_next.xml
  feature/src/main/res/drawable/sel_sign_up_checkbox.xml
  feature/src/main/res/drawable/shape_black_fill_rect_radius6.xml
  feature/src/main/res/drawable/shape_gray4_fill_rect_radius6.xml
  feature/src/main/res/drawable/shape_radius6_rect.xml
  feature/src/main/res/layout/activity_sign_up_agree.xml
  feature/src/main/res/layout/view_appbar_with_back.xml
  feature/src/main/res/values/colors.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💟 [UI], 🐻 찬우

#53 Feature/#49 home detail
  core-ui/src/main/java/com/teamdontbe/core_ui/util/context/ContextExt.kt
  core-ui/src/main/java/com/teamdontbe/core_ui/util/fragment/FragmentExt.kt
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
  feature/src/main/java/com/teamdontbe/feature/SplashActivity.kt
  feature/src/main/java/com/teamdontbe/feature/home/Feed.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamdontbe/feature/home/viewholder/HomeViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFeedItemDecorator.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
  feature/src/main/res/drawable/ic_circle_back.xml
  feature/src/main/res/drawable/shape_pale_fill_38_rect.xml
  feature/src/main/res/layout/fragment_home_detail.xml
  feature/src/main/res/navigation/nav_main.xml
  feature/src/main/res/values/strings.xml
Labels: 💟 [UI], 🐱 소현

#56 Feature/#55 home detail refactor
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/viewholder/HomeDetailViewHolder.kt
  feature/src/main/res/layout/fragment_home_detail.xml
  feature/src/main/res/layout/item_home_feed.xml
  feature/src/main/res/values/strings.xml
Labels: 🐱 소현,  ♻️ [REFACTOR]

#52 Feature/#48 signup profile
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamdontbe/feature/login/SignUpAgreeActivity.kt
  feature/src/main/java/com/teamdontbe/feature/login/SignUpProfileActivity.kt
  feature/src/main/java/com/teamdontbe/feature/login/SignUpProfileViewModel.kt
  feature/src/main/res/drawable/ic_sign_up_profile_person.xml
  feature/src/main/res/drawable/ic_sign_up_profile_plus_34.xml
  feature/src/main/res/drawable/sel_sign_up_agree_btn_next.xml
  feature/src/main/res/drawable/shape_4_rect.xml
  feature/src/main/res/drawable/shape_6_rect.xml
  feature/src/main/res/drawable/shape_black_fill_6_rect.xml
  feature/src/main/res/drawable/shape_gray4_fill_6_rect.xml
  feature/src/main/res/drawable/shape_white_fill_8_rect.xml
  feature/src/main/res/layout/activity_sign_up_agree.xml
  feature/src/main/res/layout/activity_sign_up_profile.xml
  feature/src/main/res/layout/item_home_feed.xml
  feature/src/main/res/layout/view_appbar_with_back.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💟 [UI], 🐻 찬우

#57 [Feature/#51] 노티 UI 구현
  domain/src/main/java/com/teamdontbe/domain/entity/NotiEntity.kt
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
  feature/src/main/java/com/teamdontbe/feature/notification/NotificationFragment.kt
  feature/src/main/java/com/teamdontbe/feature/notification/adapter/NotificationAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/notification/adapter/NotificationItemDecorator.kt
  feature/src/main/java/com/teamdontbe/feature/notification/adapter/NotificationViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/java/com/teamdontbe/feature/util/CalculateTime.kt
  feature/src/main/res/layout/fragment_notification.xml
  feature/src/main/res/layout/item_notification_feed.xml
  feature/src/main/res/values/strings.xml
Labels: 💟 [UI], 🐰 언지

#64 [Feature/#61] comment item UI
  feature/src/main/res/drawable/ic_home_heart_primary_active.xml
  feature/src/main/res/drawable/sel_home_heart.xml
  feature/src/main/res/layout/item_comment.xml
Labels: 💟 [UI], 🐱 소현

#60 [Feature/#58] 게시글 작성 ui 애니메이션 구현
  feature/src/main/java/com/teamdontbe/feature/dialog/DeleteDialogFragment.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/res/anim/anim_posting_fragment_from_left.xml
  feature/src/main/res/anim/anim_posting_fragment_from_right.xml
  feature/src/main/res/anim/anim_posting_fragment_to_left.xml
  feature/src/main/res/anim/anim_posting_fragment_to_right.xml
  feature/src/main/res/layout/item_notification_feed.xml
  feature/src/main/res/navigation/nav_main.xml
Labels: 💟 [UI], 🐰 언지

#62 [Feature/#32] 마이페이지
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageVpAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/adapter/MyPageFeedViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedViewHolder.kt
  feature/src/main/res/drawable/ic_my_page_circle_back_gray_42.xml
  feature/src/main/res/drawable/ic_my_page_edit_profile_gray_28.xml
  feature/src/main/res/drawable/ic_my_page_hamberger_gray_42.xml
  feature/src/main/res/drawable/ic_my_page_info.xml
  feature/src/main/res/drawable/ic_my_page_percentage_box.xml
  feature/src/main/res/drawable/ic_my_page_profile_3x.png
  feature/src/main/res/drawable/progress_bar_my_page_drawable.xml
  feature/src/main/res/layout/fragment_my_page.xml
  feature/src/main/res/layout/fragment_my_page_comment.xml
  feature/src/main/res/layout/fragment_my_page_feed.xml
  feature/src/main/res/layout/item_comment.xml
  feature/src/main/res/layout/item_home_feed.xml
  feature/src/main/res/layout/view_my_page_no_feed.xml
  feature/src/main/res/navigation/nav_main.xml
  feature/src/main/res/values/colors.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💟 [UI], 🐻 찬우

#65 [Feature/#59] 노티 empty ui 구현
  feature/src/main/java/com/teamdontbe/feature/notification/NotificationFragment.kt
  feature/src/main/res/drawable/ic_notification_empty.xml
  feature/src/main/res/layout/fragment_notification.xml
  feature/src/main/res/values/strings.xml
Labels: 💟 [UI], 🐰 언지

#70 [Feature/#67] my page auth info ui 구현
  domain/src/main/java/com/teamdontbe/domain/entity/AuthInfoEntity.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageAuthInfoFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageAuthInfoViewModel.kt
  feature/src/main/res/drawable/ic_circle_back_none_background.xml
  feature/src/main/res/layout/fragment_my_page_auth_info.xml
  feature/src/main/res/values/strings.xml
Labels: 💟 [UI], 🐰 언지

#71 [Feature/#66] 게시글 작성 제한 다이얼로그 구현
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
  feature/src/main/java/com/teamdontbe/feature/dialog/HomePostingRestrictionDialogFragment.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/res/drawable/ic_home_posting_restriction.xml
  feature/src/main/res/layout/fragment_home_posting_restriction_dialog.xml
  feature/src/main/res/navigation/nav_main.xml
  feature/src/main/res/values/strings.xml
Labels: 💟 [UI], 🐰 언지

#72 [Feature/#69] comment item UI
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailCommentAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFeedItemDecorator.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/viewholder/HomeDetailCommentViewHolder.kt
  feature/src/main/res/drawable/ic_comment_divide.xml
  feature/src/main/res/layout/item_comment.xml
  feature/src/main/res/layout/item_home_comment.xml
Labels: 💟 [UI], 🐱 소현

#73 [Feature/#63] transepreny info 화면 구현
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/transperencyinfo/TransparencyInfoFifthFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/transperencyinfo/TransparencyInfoFirstFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/transperencyinfo/TransparencyInfoFourthFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/transperencyinfo/TransparencyInfoParentFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/transperencyinfo/TransparencyInfoSecondFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/transperencyinfo/TransparencyInfoThirdFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/transperencyinfo/TransparencyInfoVpAdapter.kt
  feature/src/main/res/drawable/ic_transparency_info_close.xml
  feature/src/main/res/drawable/img_transparency_info_1.png
  feature/src/main/res/drawable/img_transparency_info_2.png
  feature/src/main/res/drawable/img_transparency_info_3.png
  feature/src/main/res/drawable/img_transparency_info_4.png
  feature/src/main/res/drawable/img_transparency_info_5.png
  feature/src/main/res/layout/fragment_my_page.xml
  feature/src/main/res/layout/fragment_transperency_info_1.xml
  feature/src/main/res/layout/fragment_transperency_info_2.xml
  feature/src/main/res/layout/fragment_transperency_info_3.xml
  feature/src/main/res/layout/fragment_transperency_info_4.xml
  feature/src/main/res/layout/fragment_transperency_info_5.xml
  feature/src/main/res/layout/fragment_transperency_info_parent.xml
  feature/src/main/res/values/strings.xml
Labels: 💟 [UI], 🐻 찬우

#77 [Feature/#74] 마이페이지 바텀시트 화면
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageAuthInfoActivity.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/bottomsheet/MyPageBottomSheet.kt
  feature/src/main/res/drawable/bottom_sheet_top_corner_8.xml
  feature/src/main/res/layout/activity_my_page_auth_info.xml
  feature/src/main/res/layout/bottom_sheet_my_page_hamberger.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💟 [UI], 🐻 찬우

#76 [Feature/#75] kakao login 서버 API 연결
  app/src/main/java/com/teamdontbe/dontbe/di/LoginModule.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/api/LoginApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/LoginDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/LoginDataSource.kt
  data/src/main/java/com/teamdontbe/data/dto/BaseResponse.kt
  data/src/main/java/com/teamdontbe/data/dto/request/RequestLoginDto.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseLoginDto.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/LoginRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/entity/LoginEntity.kt
  domain/src/main/java/com/teamdontbe/domain/repository/LoginRepository.kt
  feature/src/main/java/com/teamdontbe/feature/SplashActivity.kt
  feature/src/main/java/com/teamdontbe/feature/login/LoginActivity.kt
  feature/src/main/java/com/teamdontbe/feature/login/LoginViewModel.kt
Labels: ⭐ [FEAT], 🐰 언지

#80 [Feature/#79] onboading UI detail
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingFourthFragment.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingFragment.kt
  feature/src/main/res/layout/fragment_onboarding.xml
  feature/src/main/res/layout/item_onboarding_first.xml
  feature/src/main/res/layout/item_onboarding_fourth.xml
  feature/src/main/res/layout/item_onboarding_second.xml
  feature/src/main/res/layout/item_onboarding_third.xml
  feature/src/main/res/navigation/nav_main.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💟 [UI], 🐱 소현

#84 [Feature/#81] kakao auto login
  app/build.gradle.kts
  app/src/main/java/com/teamdontbe/dontbe/di/LoginModule.kt
  app/src/main/java/com/teamdontbe/dontbe/di/Qualifier.kt
  app/src/main/java/com/teamdontbe/dontbe/di/RetrofitModule.kt
  app/src/main/java/com/teamdontbe/dontbe/di/SharedPreferenceModule.kt
  data-local/src/main/java/com/teamdontbe/data_local/SharedPreferenceDataSourceImpl.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/api/LoginApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/LoginDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/LoginDataSource.kt
  data/src/main/java/com/teamdontbe/data/datasource/SharedPreferenceDataSource.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseRefreshAccessTokenDto.kt
  data/src/main/java/com/teamdontbe/data/interceptor/TokenInterceptor.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/LoginRepositoryImpl.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/UserInfoRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/repository/LoginRepository.kt
  domain/src/main/java/com/teamdontbe/domain/repository/UserInfoRepository.kt
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamdontbe/feature/SplashActivity.kt
  feature/src/main/java/com/teamdontbe/feature/login/LoginActivity.kt
  feature/src/main/java/com/teamdontbe/feature/login/LoginViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/bottomsheet/MyPageBottomSheet.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpAgreeActivity.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileActivity.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileViewModel.kt
  feature/src/main/res/layout/activity_sign_up_profile.xml
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 🐱 소현

#82 [Feature/#78] 마이페이지 화면 수정
  feature/src/main/java/com/teamdontbe/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/bottomsheet/MyPageBottomSheet.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedFragment.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileActivity.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/util/FeedItemDecorator.kt
  feature/src/main/res/drawable/ic_sign_up_profile_person.xml
  feature/src/main/res/layout/activity_sign_up_agree.xml
  feature/src/main/res/layout/activity_sign_up_profile.xml
  feature/src/main/res/layout/view_appbar_with_back.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💟 [UI], 🐻 찬우

#88 [Feature/#85] feed list api
  app/src/main/java/com/teamdontbe/dontbe/di/HomeModule.kt
  app/src/main/java/com/teamdontbe/dontbe/di/LoginModule.kt
  app/src/main/java/com/teamdontbe/dontbe/di/RetrofitModule.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/api/HomeApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/HomeDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/HomeDataSource.kt
  data/src/main/java/com/teamdontbe/data/dto/BaseResponse.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseFeedDto.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseLoginDto.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/HomeRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/repository/HomeRepository.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/login/LoginViewModel.kt
Labels: ⭐ [FEAT], 🔨 [FIX], 🐱 소현

#92 [Feature/#90] feed detail api
  data-remote/src/main/java/com/teamdontbe/data_remote/api/HomeApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/HomeDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/HomeDataSource.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseFeedDto.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/HomeRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/repository/HomeRepository.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
Labels: ⭐ [FEAT], 🐱 소현

#95 [Feature/#87] 노티 리스트 조회 API 연결
  app/src/main/java/com/teamdontbe/dontbe/di/NotificationModule.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/api/NotificationApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/NotificationListDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/NotificationListDataSource.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseNotificationListDto.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/NotificationListRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/repository/NotificationListRepository.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
  feature/src/main/java/com/teamdontbe/feature/notification/NotificationFragment.kt
  feature/src/main/java/com/teamdontbe/feature/notification/NotificationViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/notification/adapter/NotificationViewHolder.kt
  feature/src/main/res/navigation/nav_main.xml
Labels: ⭐ [FEAT], 🐰 언지

#96 [Feature/#94] 확인하지 않은 노티 개수 API 연결
  app/src/main/java/com/teamdontbe/dontbe/di/NotificationModule.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/api/LoginApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/api/NotificationApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/LoginDataSourceImpl.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/NotificationDataSourceImpl.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/NotificationListDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/LoginDataSource.kt
  data/src/main/java/com/teamdontbe/data/datasource/NotificationDataSource.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseNotificationCountDto.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/LoginRepositoryImpl.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/NotificationListRepositoryImpl.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/NotificationRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/repository/LoginRepository.kt
  domain/src/main/java/com/teamdontbe/domain/repository/NotificationRepository.kt
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
  feature/src/main/java/com/teamdontbe/feature/login/LoginActivity.kt
  feature/src/main/java/com/teamdontbe/feature/login/LoginViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/notification/NotificationViewModel.kt
Labels: ⭐ [FEAT], 🐰 언지

#91 [Feature/#83] my page api 연결
  app/src/main/java/com/teamdontbe/dontbe/di/MyPageUserModule.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/api/MyPageUserProfileApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/MyPageUserProfileDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/MyPageUserProfileDataSource.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseMyPageUserProfileDto.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/MyPageUserProfileRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/entity/MyPageUserProfileEntity.kt
  domain/src/main/java/com/teamdontbe/domain/repository/MyPageUserProfileDomainRepository.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageViewModel.kt
  feature/src/main/res/layout/fragment_my_page.xml
Labels: ⭐ [FEAT], 🐻 찬우

#106 {Feature/#99] : delete feed api
  data-remote/src/main/java/com/teamdontbe/data_remote/api/HomeApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/HomeDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/HomeDataSource.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/HomeRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/repository/HomeRepository.kt
  feature/src/main/java/com/teamdontbe/feature/dialog/DeleteCompleteDialogFragment.kt
  feature/src/main/java/com/teamdontbe/feature/dialog/DeleteWithTitleDialogFragment.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeBottomSheet.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
  feature/src/main/java/com/teamdontbe/feature/util/Event.kt
  feature/src/main/res/drawable/shape_gray_02_line_10_rec.xml
  feature/src/main/res/layout/bottomsheet_complaint_delete.xml
  feature/src/main/res/layout/fragment_delete_complete_dialog.xml
  feature/src/main/res/layout/fragment_delete_with_title_dialog.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🐱 소현

#110 [Feature/#107] 닉네임 중복체크 서버 통신
  data-remote/src/main/java/com/teamdontbe/data_remote/api/LoginApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/LoginDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/LoginDataSource.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/LoginRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/repository/LoginRepository.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileActivity.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileViewModel.kt
Labels: ⭐ [FEAT], 🐻 찬우

#116 #115 [HOTFIX] : trigger type 변경
  data-remote/src/main/java/com/teamdontbe/data_remote/api/HomeApiService.kt
Labels: 🚑️ [HOTFIX], 🐱 소현

#102 [Feature/#97] 노티 체크 API 연결
  data-remote/src/main/java/com/teamdontbe/data_remote/api/NotificationApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/NotificationDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/NotificationDataSource.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/NotificationRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/repository/NotificationRepository.kt
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
  feature/src/main/java/com/teamdontbe/feature/notification/NotificationFragment.kt
  feature/src/main/java/com/teamdontbe/feature/notification/NotificationViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/notification/adapter/NotificationViewHolder.kt
  feature/src/main/res/layout/item_notification_feed.xml
Labels: ⭐ [FEAT], 🐰 언지

#104 [Feature/#86] : 게시물 및 온보딩 한 줄 소개 작성하기 API 연결
  app/src/main/java/com/teamdontbe/dontbe/di/PostingModule.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/api/PostingApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/PostingDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/PostingDataSource.kt
  data/src/main/java/com/teamdontbe/data/dto/request/RequestPostingDto.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/PostingRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/repository/PostingRepository.kt
  feature/src/main/java/com/teamdontbe/feature/login/LoginActivity.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingFourthFragment.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingFragment.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingViewModel.kt
  feature/src/main/res/layout/fragment_onboarding.xml
  feature/src/main/res/layout/fragment_posting.xml
  feature/src/main/res/layout/item_onboarding_fourth.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🐰 언지, 🐱 소현

#112 [Feature/#111] my page user account api
  data-remote/src/main/java/com/teamdontbe/data_remote/api/MyPageApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/MyPageDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/MyPageDataSource.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseMyPageUserAccountInfoDto.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/MyPageRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/entity/MyPageUserAccountInfoEntity.kt
  domain/src/main/java/com/teamdontbe/domain/repository/MyPageRepository.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageAuthInfoActivity.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageAuthInfoViewModel.kt
  feature/src/main/res/layout/activity_my_page_auth_info.xml
Labels: ⭐ [FEAT], 🐻 찬우

#121 [Feature/#113] 유저 닉네임 한줄소개 수정 api 연결
  data-remote/src/main/java/com/teamdontbe/data_remote/api/LoginApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/LoginDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/LoginDataSource.kt
  data/src/main/java/com/teamdontbe/data/dto/request/RequestProfileEditDto.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/LoginRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/repository/LoginRepository.kt
  feature/src/main/java/com/teamdontbe/feature/SplashActivity.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpAgreeActivity.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileActivity.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileViewModel.kt
  feature/src/main/res/layout/activity_sign_up_profile.xml
Labels: ⭐ [FEAT], 🐻 찬우

#122 [Feature/#119] 로딩뷰 구현
  feature/build.gradle.kts
  feature/src/main/java/com/teamdontbe/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamdontbe/feature/notification/NotificationFragment.kt
  feature/src/main/java/com/teamdontbe/feature/notification/adapter/NotificationViewHolder.kt
  feature/src/main/res/layout/fragment_home.xml
  feature/src/main/res/layout/fragment_notification.xml
  feature/src/main/res/layout/item_notification_feed.xml
  gradle/libs.versions.toml
Labels: 💟 [UI], 🐰 언지

#126 [Feature/#123] 유저 정보 데이터 메인액티비티 전달
  core-ui/src/main/java/com/teamdontbe/core_ui/util/intent/Intent.kt
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileActivity.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/signup/UserProfileModel.kt
Labels: ✅ [MOD], 🐻 찬우

#129 [Feature/#127] my page branch processing
  feature/src/main/java/com/teamdontbe/feature/home/HomeAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamdontbe/feature/home/viewholder/HomeViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/bottomsheet/MyPageAnotherUserBottomSheet.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedFragment.kt
  feature/src/main/res/navigation/nav_main.xml
Labels: ⭐ [FEAT], 🐻 찬우

#131 [Feature/#125] home fix error
  data-local/src/main/java/com/teamdontbe/data_local/SharedPreferenceDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/SharedPreferenceDataSource.kt
  data/src/main/java/com/teamdontbe/data/dto/response/ResponseLoginDto.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/LoginRepositoryImpl.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/UserInfoRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/entity/LoginEntity.kt
  domain/src/main/java/com/teamdontbe/domain/repository/UserInfoRepository.kt
  feature/src/main/java/com/teamdontbe/feature/SplashActivity.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeBottomSheet.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
  feature/src/main/java/com/teamdontbe/feature/login/LoginActivity.kt
  feature/src/main/java/com/teamdontbe/feature/login/LoginViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedFragment.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingFragment.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingViewModel.kt
  feature/src/main/res/layout/bottomsheet_comment.xml
  feature/src/main/res/layout/fragment_home.xml
  feature/src/main/res/layout/fragment_home_detail.xml
  feature/src/main/res/layout/item_home_comment.xml
  feature/src/main/res/layout/item_home_feed.xml
  feature/src/main/res/layout/view_upload_bar.xml
  feature/src/main/res/navigation/nav_main.xml
Labels: 🔨 [FIX], 🐱 소현

#134 [Feature/#130] my page fix
  feature/src/main/java/com/teamdontbe/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageModel.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageVpAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedFragment.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileActivity.kt
Labels: ✅ [MOD], 🐻 찬우

#139 [Feature/#114] : transparent api
  data-remote/src/main/java/com/teamdontbe/data_remote/api/HomeApiService.kt
  data-remote/src/main/java/com/teamdontbe/data_remote/datasourceimpl/HomeDataSourceImpl.kt
  data/src/main/java/com/teamdontbe/data/datasource/HomeDataSource.kt
  data/src/main/java/com/teamdontbe/data/dto/request/RequestTransparentDto.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/HomeRepositoryImpl.kt
  domain/src/main/java/com/teamdontbe/domain/repository/HomeRepository.kt
  feature/src/main/java/com/teamdontbe/feature/SplashActivity.kt
  feature/src/main/java/com/teamdontbe/feature/dialog/HomeTransparentDialogFragment.kt
  feature/src/main/java/com/teamdontbe/feature/dialog/TransparentDialogFragment.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/home/viewholder/HomeViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailCommentAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/viewholder/HomeDetailCommentViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/snackbar/TransparentIsGhostSnackBar.kt
  feature/src/main/java/com/teamdontbe/feature/snackbar/UploadingSnackBar.kt
  feature/src/main/java/com/teamdontbe/feature/util/Transparent.kt
  feature/src/main/res/drawable/ic_transparent_dialog.xml
  feature/src/main/res/drawable/ic_transparent_is_check.xml
  feature/src/main/res/drawable/shape_white_fill_8_rect.xml
  feature/src/main/res/layout/fragment_transparent_dialog.xml
  feature/src/main/res/layout/item_home_comment.xml
  feature/src/main/res/layout/item_home_feed.xml
  feature/src/main/res/layout/snackbar_transparent_isghost.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🐱 소현

#140 [Feature/#137] my page 신고하기, 삭제 기능
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/bottomsheet/MyPageAnotherUserBottomSheet.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/bottomsheet/MyPageDeclarDialogFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/bottomsheet/MyPageDeleteDialogFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedViewModel.kt
  feature/src/main/res/layout/view_my_page_no_feed.xml
  feature/src/main/res/navigation/nav_main.xml
Labels: ⭐ [FEAT], 🐻 찬우

#138 [Feature/#133] posting 업로드 스낵바 추가 및 프로필 사진 연결
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamdontbe/feature/ErrorActivity.kt
  feature/src/main/java/com/teamdontbe/feature/dialog/HomePostingRestrictionDialogFragment.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingFragment.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/snackbar/UploadingSnackBar.kt
  feature/src/main/res/drawable-xhdpi/ic_error_404.png
  feature/src/main/res/drawable-xxhdpi/ic_error_404.png
  feature/src/main/res/drawable/ic_error_404.png
  feature/src/main/res/layout/activity_error.xml
  feature/src/main/res/layout/fragment_home_posting_restriction_dialog.xml
  feature/src/main/res/layout/fragment_posting.xml
  feature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💟 [UI], 🐰 언지

#143 [Feature/#141] scroll to top
  feature/src/main/java/com/teamdontbe/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/res/layout/fragment_home.xml
  feature/src/main/res/layout/fragment_my_page.xml
Labels: ⭐ [FEAT], 🐻 찬우

#147 [Feature/#142] 앱 로고 변경
  app/src/main/AndroidManifest.xml
  feature/src/main/AndroidManifest.xml
  feature/src/main/ic_app-playstore.png
  feature/src/main/res/mipmap-anydpi-v26/ic_app.xml
  feature/src/main/res/mipmap-anydpi-v26/ic_app_round.xml
  feature/src/main/res/mipmap-hdpi/ic_app.png
  feature/src/main/res/mipmap-hdpi/ic_app_foreground.png
  feature/src/main/res/mipmap-hdpi/ic_app_round.png
  feature/src/main/res/mipmap-mdpi/ic_app.png
  feature/src/main/res/mipmap-mdpi/ic_app_foreground.png
  feature/src/main/res/mipmap-mdpi/ic_app_round.png
  feature/src/main/res/mipmap-xhdpi/ic_app.png
  feature/src/main/res/mipmap-xhdpi/ic_app_foreground.png
  feature/src/main/res/mipmap-xhdpi/ic_app_round.png
  feature/src/main/res/mipmap-xxhdpi/ic_app.png
  feature/src/main/res/mipmap-xxhdpi/ic_app_foreground.png
  feature/src/main/res/mipmap-xxhdpi/ic_app_round.png
  feature/src/main/res/mipmap-xxxhdpi/ic_app.png
  feature/src/main/res/mipmap-xxxhdpi/ic_app_foreground.png
  feature/src/main/res/mipmap-xxxhdpi/ic_app_round.png
  feature/src/main/res/values/ic_app_background.xml
Labels: 💟 [UI], 🐰 언지

#150 [feature/#149] 폰트 otf 변경
  feature/src/main/res/font/pretendard_regular.otf
  feature/src/main/res/font/pretendard_regular.ttf
  feature/src/main/res/font/pretendard_semibold.otf
  feature/src/main/res/font/pretendard_semibold.ttf
Labels: 🐰 언지, ⚙️ [SETTING]

#151 [Feature/#146] : 기본 이미지 넣기
  feature/src/main/java/com/teamdontbe/feature/home/HomeAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamdontbe/feature/home/viewholder/HomeViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailCommentAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/viewholder/HomeDetailCommentViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/onboarding/OnboardingFourthFragment.kt
  feature/src/main/java/com/teamdontbe/feature/util/BindingAdapter.kt
  feature/src/main/res/layout/bottomsheet_comment.xml
  feature/src/main/res/layout/fragment_home_detail.xml
  feature/src/main/res/layout/item_home_comment.xml
  feature/src/main/res/layout/item_home_feed.xml
Labels: ⭐ [FEAT], 🐱 소현

#155 Feature/#152 self qa
  data-remote/src/main/java/com/teamdontbe/data_remote/api/HomeApiService.kt
  data/src/main/java/com/teamdontbe/data/repositoryimpl/LoginRepositoryImpl.kt
  feature/src/main/java/com/teamdontbe/feature/SplashActivity.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/home/viewholder/HomeViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/viewholder/HomeDetailCommentViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/login/LoginActivity.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/res/layout/item_home_feed.xml
  feature/src/main/res/navigation/nav_main.xml
Labels: 🔨 [FIX], 🐱 소현

#156 Feature/#144 my page delete comment
  feature/src/main/java/com/teamdontbe/feature/dialog/TransparentDialogFragment.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeBottomSheet.kt
  feature/src/main/java/com/teamdontbe/feature/home/HomeFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/bottomsheet/MyPageAnotherUserBottomSheet.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/bottomsheet/MyPageDeleteDialogFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/comment/MyPageCommentViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/feed/MyPageFeedFragment.kt
Labels: ✅ [MOD], 🐻 찬우

#157 [Feature/#154] view detail modify
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamdontbe/feature/MainActivity.kt
  feature/src/main/java/com/teamdontbe/feature/dialog/PostingRestrictionDialogFragment.kt
  feature/src/main/java/com/teamdontbe/feature/posting/AnimateProgressBar.kt
  feature/src/main/java/com/teamdontbe/feature/posting/PostingFragment.kt
  feature/src/main/res/drawable/img_posting_restriction.xml
  feature/src/main/res/layout/bottomsheet_comment.xml
  feature/src/main/res/layout/fragment_posting.xml
  feature/src/main/res/layout/fragment_posting_restriction_dialog.xml
  feature/src/main/res/layout/item_onboarding_fourth.xml
  feature/src/main/res/values/strings.xml
  feature/src/main/res/values/themes.xml
Labels: 💟 [UI], 🐰 언지

#164 #163 [MOD] : home detail comment progress bar animation 적용
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
Labels: 💟 [UI], 🐰 언지

#166 Feature/#158 qa fix
  feature/src/main/AndroidManifest.xml
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailCommentAdapter.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/HomeDetailFragment.kt
  feature/src/main/java/com/teamdontbe/feature/homedetail/viewholder/HomeDetailCommentViewHolder.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/MyPageFragment.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/authinfo/MyPageAuthInfoActivity.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/authinfo/MyPageAuthInfoViewModel.kt
  feature/src/main/java/com/teamdontbe/feature/mypage/bottomsheet/MyPageBottomSheet.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpAgreeActivity.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileActivity.kt
  feature/src/main/java/com/teamdontbe/feature/signup/SignUpProfileViewModel.kt
  feature/src/main/res/layout/activity_my_page_auth_info.xml
  feature/src/main/res/navigation/nav_main.xml
Labels: 🔨 [FIX]
